@import url(https://fonts.google.com/specimen/Intel+One+Mono?query=intel+one);
@import url(https://fonts.google.com/specimen/Playfair+Display);
:root {
    --primary-color: #0B3954; /*Prussian blue*/
    --secondary-color: #087E8B; /*Teal*/
    --accent1-color: #BFD7EA; /*Columbia blue*/
    --accent2-color: #FF5A5F; /*Bittersweet*/
    --heading-font: "Playfair Display", playfair-display;
    --body-font: "Intel One Mono", intel-one-mono;
}

.logo {
    margin-left: 20px;
}

header {
    background-color: var(--accent2-color);
    color: var(--primary-color);

    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: var(--heading-font);
}

.navigation a {
	display: block;
	color: var(--primary-color);
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}

.navigation a:hover {
	color: var(--secondary-color);
	font-weight: 700;
	text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: black;
}

.hero2 img {
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    width: 200px;
}